    /* 100 */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: url('/font/Pretendard-Thin.woff2') format('woff2');
  }
  
  /* 300 */
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url('/font/Pretendard-Regular.woff2') format('woff2');
  }
  
  /* 500 */
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url('/font/Pretendard-Medium.woff2') format('woff2'); 
  }
    /* 600 */
    @font-face {
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 600;
      src: url('/font/Pretendard-Medium.woff2') format('woff2'); 
    }

  /* 700 */
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: url('/font/Pretendard-ExtraBold.woff2') format('woff2'); 
  }

    /* 900 */
    @font-face {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 900;
        src: url('/font/Pretendard-Black.woff2') format('woff2'); 
        }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: "Pretendard";
	font-weight: 300;
}

/* component */
.weight700{font-weight: 900;}
.main-color{ color:#5A3FFF}

/* 검색창 */

.search-form{position:relative;width:80%;margin:0 auto;}
.search-form .search-btn{cursor: pointer;}
.search-form span{position:absolute;top:20px;left:30px;}
.search-form input{height: 60px;width:100%;border: 3px solid #5A3FFF; border-radius: 32px !important; padding: 0px 30px 0 70px;}
.search-form input:focus{ outline: none;}

/* 자동추천 아이콘 박스 */
.icon-box{width:200px;height:100px;border: 4px solid #5A3FFF;border-radius: 4px;}

.main-logo{padding:0;}
.navbar{--bs-navbar-padding-y: 1.5rem;}
.navbar-nav{gap:30px}
.navbar-nav .nav-link{font-weight: 600;font-size: 16px;color:#111;}