<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="test.spring.mapper.GuestBookMapper">

	<insert id="insert">
		insert into guestbook values(guest_seq.NEXTVAL,#{id},#{subject},sysdate)
	</insert>
	
	<select id="guestList" resultType="test.spring.component.GuestBookDTO"> 
		select num,id,subject,reg_date,r from (select num,id,subject,reg_date,rownum r 
		from (select num,id,subject,reg_date from guestbook order by num desc) 
		order by num desc) where r between #{start} and #{end}        
	</select>
	
	<select id="count" resultType="int">
		select count(*) from guestbook
	</select>
	
	<update id="update">
		update guestbook set subject=#{subject} where num=#{num}
	</update>
	
	<delete id="delete">
		delete from guestbook where num=#{num}
	</delete>
</mapper>